<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hello world!</title>
    <style>
        body {
            background-color: {{ color }};
        }
    </style>
</head>
<body>
    Bonjour
</body>
</html>